<a href="https://colab.research.google.com/github/sameladuart/Analise-de-dados-Programaria/blob/main/An%C3%A1lise__Dados_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Introduction

# Imports

In [ ]:
# Importing necessary libraries
from google.colab import drive
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from scipy import stats
from scipy.stats import chi2_contingency

# Pandas library

In [ ]:

# Mounting the Google Drive to access files
drive.mount('/content/drive')

In [ ]:
# Reading the data from an Excel file
dados = pd.read_excel('/content/drive/MyDrive/programaria/planilha_modulo3.xlsx')

In [ ]:
# Displaying the first 10 rows of the dataset. n = int, 5 by default
dados.head(10)

In [ ]:
# Displaying the last 5 rows of the dataset (default)
dados.tail()

In [ ]:
# Finding the dimensions of the dataset (rows, columns)
dados.shape

In [ ]:
# Finding the total number of rows in the dataset
len(dados)

In [ ]:
# Displaying all column names in the dataset
dados.columns

In [ ]:
# Displaying information about the dataset (data types, non-null values, memory usage)
dados.info()

In [ ]:
# Generating descriptive statistics for numerical columns
dados.describe()


# Repeating excel analysis

#### Selecting and analyzing specific columns

In [ ]:
# Selecting the 'GENERO' column
dados ['GENERO']

In [ ]:
# Filtering rows where 'GENERO' is 'Feminino'
dados[dados['GENERO']== 'Feminino']

In [ ]:
# Filtering rows where 'GENERO' is not 'Masculino'
dados[dados['GENERO']!='Masculino']

In [ ]:
# Filtering rows where 'GENERO' contains the substring 'não' (ignoring NaN values)
#IF THE PATTERN IS CONTAINED IN A CHARACTER SEQUENCE OF A SERIAL OR INDEX
#The goal of pd.NA is to provide a “missing” indicator that can be used consistently across data types
dados[dados['GENERO'].str.contains('não', na=False)]

In [ ]:
# Filtering rows where 'IDADE' is greater than 30
dados[dados['IDADE']>30]

In [ ]:
# Filtering rows where 'IDADE' is greater than 30 and 'GENERO' is 'Feminino'
dados[(dados['IDADE']>30) & (dados['GENERO']=='Feminino')]

In [ ]:
# Filtering rows where 'COR/RACA/ETNIA' is 'Amarela' and 'IDADE' is less than 40
dados[(dados['COR/RACA/ETNIA']=='Amarela') & (dados['IDADE']<40)]

###Grouping and aggregating data

In [ ]:
# Counting unique IDs for each gender
# groupby envolves some combination of dividing the object, applying a function, and combining the results.
dados.groupby('GENERO')['ID'].nunique()

In [ ]:
# Including null values in the grouping
# Counting unique IDs for each gender, including missing values
dados.groupby('GENERO',dropna=False)['ID'].nunique()

In [ ]:
# Counting occurrences of each unique value in 'GENERO'
dados['GENERO'].value_counts(dropna=False)

In [ ]:
# Counting levels for people over 30 years old
dados[dados['IDADE']>30]['NIVEL'].value_counts()

In [ ]:
# Counting levels for women over 30 years old
dados[(dados['IDADE']>30) & (dados['GENERO']=='Feminino')]['NIVEL'].value_counts()

In [ ]:
# Creating a pivot table to analyze gender and manager status
pd.pivot_table(dados,values=['ID'], index=['GENERO'],columns=['GESTOR?'], aggfunc='count')


# Basic Statistics

In [ ]:
# Defining a list of ages
lista_idades = [26,30,32,22,26,35,40,20,43,31,23]

In [ ]:
# Summing all ages in the list
np.sum(lista_idades)

In [ ]:
# Counting the number of elements in the list
len(lista_idades)

In [ ]:
# Adding and dividing the sum by the number of elements to find the average
np.sum(lista_idades)/len(lista_idades)

In [ ]:
# Calculating the arithmetic mean of the list
media = np.mean(lista_idades)
print("Média Aritmética:", media)

In [ ]:
# Find the weighted mean
 media_ponderada = (df[Preco] * df['Pesos']).sum() / df['Pesos'].sum()

In [ ]:
# Putting the list in ascending order
lista_idades.sort()
lista_idades

In [ ]:
# Adding 100 to the list
lista_idades = [26,30,32,22,26,35,40,20,43,31,23,100]

In [ ]:
# Putting the list in ascending order
lista_idades.sort()
lista_idades

In [ ]:
# Recalculating the median of the updated list

mediana = np.median(lista_idades)
print("Mediana:", mediana)

### Returning to schedule

In [ ]:
# Calculating the arithmetic mean of the list

dados['IDADE'].mean()

In [ ]:
# Calculating the median of 'IDADE'
dados['IDADE'].median()

In [ ]:
# Calculating the mode of 'IDADE'
dados['IDADE'].mode()

In [ ]:
# Calculating the standard deviation of 'IDADE'
dados['IDADE'].std()

In [ ]:
# Calculating the standard deviation of 'IDADE'
dados['IDADE'].min()
dados['IDADE'].max()

In [ ]:
# Mean age for females
dados[dados['GENERO']=='Feminino'] ['IDADE'].mean()

In [ ]:
# Mean age for males
dados[dados['GENERO']=='Masculino'] ['IDADE'].mean()

In [ ]:
# Mean salary for females
dados[dados['GENERO']=='Feminino'] ['SALARIO'].mean()

In [ ]:
# Mean salary for males
dados[dados['GENERO']=='Masculino'] ['SALARIO'].mean()


#Missing Values

In [ ]:
#info dataframe
dados.info()

###Working on gender column

In [ ]:
# Dropna false to show null values
dados.groupby('GENERO', dropna=False) ['ID'].nunique()

In [ ]:
# Filling missing values in the 'GENERO' column
dados['GENERO']= dados['GENERO'].fillna('Prefiro não informar')

In [ ]:
# Group the DataFrame by the 'GENERO' column.
# The parameter `dropna=False` ensures that NaN values in the 'GENERO' column are not ignored and are included as a separate group.
# Select the 'ID' column for further operations.
# Use the `nunique()` method to count the number of unique values in the 'ID' column for each group in 'GENERO'.
dados.groupby('GENERO', dropna=False) ['ID'].nunique()

### Working age column

In [ ]:
# Analyzing missing values in 'IDADE'
dados['IDADE'].isnull().value_counts()

In [ ]:
# Return the name of all the columns
dados.columns

In [ ]:
# Filter if people who did not enter age, entered age range
dados[dados['IDADE'].isnull()] ['FAIXA IDADE'].value_counts()

In [ ]:
# Average only ages 17-21
media_17_21= dados[dados['FAIXA IDADE']== '17-21'] ['IDADE'].mean()

In [ ]:
# Loc locates what we are asking for
dados.loc[(dados['FAIXA IDADE']== '17-21') & (dados['IDADE'].isnull()), 'IDADE'] = media_17_21

In [ ]:
# Filter if people who did not enter age, entered age range
dados[dados['IDADE'].isnull()] ['FAIXA IDADE'].value_counts()

In [ ]:
# Try to find out if those who put the 55+ range put age
dados[dados['FAIXA IDADE']== '55+'] ['IDADE']

In [ ]:
# Check the level of those who marked the age range 55+
dados[dados['FAIXA IDADE']== '55+'] ['NIVEL']

In [ ]:
# Calculate the average age
media_geral = dados['IDADE'].mean()
media_geral

In [ ]:
# Use the `loc` method to locate rows in the DataFrame where:
# - The value in the 'FAIXA IDADE' column is equal to '55+'.
# - The value in the 'IDADE' column is null (missing).
# For these rows, assign the value of 'media_geral' (the calculated overall mean) to the 'IDADE' column.
dados.loc[(dados['FAIXA IDADE']=='55+') & (dados['IDADE'].isnull()), 'IDADE'] = media_geral

In [ ]:
# Check if it worked, check for null values
dados[dados['IDADE'].isnull()] ['FAIXA IDADE'].value_counts()

### Working salary column

In [ ]:
# Filter the DataFrame to include only rows where the 'SALARIO' column has null (missing) values.
dados[dados['SALARIO'].isnull()]

In [ ]:
# Filter the DataFrame to include rows with null values in the 'SALARIO' column.
# Then, select the 'FAIXA SALARIAL' column and count the occurrences of each unique value.
dados[dados['SALARIO'].isnull()] ['FAIXA SALARIAL'].value_counts()

In [ ]:
# Calculate the median (middle value) of the 'SALARIO' column.
# This value will be used to replace the missing values.
mediana_salario = dados['SALARIO'].median()

In [ ]:
# Locate the rows where the 'SALARIO' column has null values.
# Replace these null values with the median salary calculated above.
dados.loc[dados['SALARIO'].isnull(),'SALARIO'] = mediana_salario





### Outliers

In [ ]:
# Define a list of ages with a clear outlier (400)
lista_idades = [26,30,32,22,26,35,400,20,43,31,23]

In [ ]:
# Calculate the mean of the age list.
media = np.mean(lista_idades)
media

In [ ]:
# Calculate the standard deviation of the age list.
desvio = np.std(lista_idades)
desvio

In [ ]:
# Calculate the upper limit for outliers (mean + 3 times the standard deviation).
media + 3*desvio

In [ ]:
# Calculate the lower limit for outliers (mean - 3 times the standard deviation).
media - 3*desvio

In [ ]:
# Display a boxplot for the age list.
# The orange line is the median, box edges represent Q1 and Q3, and whiskers mark lower/upper bounds.
plt.boxplot(lista_idades)

In [ ]:
# Display a boxplot for the 'SALARIO' column.
plt.boxplot(dados['SALARIO'])

In [ ]:
# Calculate the first quartile (Q1), representing 25% of the data.
Q1 = dados['SALARIO'].quantile(0.25)
Q1

In [ ]:
# Calculate the third quartile (Q3), representing 75% of the data.
Q3 = dados['SALARIO'].quantile(0.75)
Q3

In [ ]:
# Compute the Interquartile Range (IQR) as Q3 - Q1.
IQR = Q3 - Q1
IQR

In [ ]:
# Calculate the upper limit for detecting outliers using 1.5 * IQR.
lim_superior = Q3 + (1.5*IQR)
lim_superior

In [ ]:
# Calculate the lower limit for detecting outliers using 1.5 * IQR.

lim_inferior = Q1 - (1.5*IQR)
lim_inferior

In [ ]:
# Calculate the mean salary.
media_salario = dados['SALARIO'].mean()
media_salario

In [ ]:
# Calculate the standard deviation of salaries.
desvio_salario = dados['SALARIO'].std()
desvio_salario

In [ ]:
# Define a specific upper limit for salaries based on 3 standard deviations.
limite_superior = media_salario + (3*desvio_salario)
limite_superior

In [ ]:
# Count the salary ranges for salaries above the upper limit.
dados[dados['SALARIO']>limite_superior] ['FAIXA SALARIAL'].value_counts()

In [ ]:
# Calculate the mean salary for a specific salary range, excluding outliers.
media_30_40 = dados[(dados['FAIXA SALARIAL'] == 'de R$ 30.001/mês a R$ 40.000/mês') & (dados['SALARIO']<limite_superior)]['SALARIO'].mean()

In [ ]:
# Replace outlier salaries in the specified range with the calculated mean.
dados.loc[(dados['FAIXA SALARIAL'] == 'de R$ 30.001/mês a R$ 40.000/mês') & (dados['SALARIO']>limite_superior), 'SALARIO'] = media_30_40

In [ ]:
# Count salary ranges for outliers after handling.
dados[dados['SALARIO']>limite_superior] ['FAIXA SALARIAL'].value_counts()

In [ ]:
# Repeat the above steps for another salary range.
media_acima_40 = dados[(dados['FAIXA SALARIAL'] == 'Acima de R$ 40.001/mês') & (dados['SALARIO']<limite_superior)]['SALARIO'].mean()

In [ ]:
# Locate all people in the 30 to 40k salary range whose salary is above the limit, and assign them the average
dados.loc[(dados['FAIXA SALARIAL'] == 'Acima de R$ 40.001/mês') & (dados['SALARIO']>limite_superior), 'SALARIO'] = media_acima_40

In [ ]:
# Count salary ranges for outliers after handling.
dados[dados['SALARIO']>limite_superior] ['FAIXA SALARIAL'].value_counts()

In [ ]:
# Display a boxplot after handling outliers.
plt.boxplot(dados['SALARIO'])

# Sampling distribution and confidence interval

In [ ]:
# Store the 'SALARIO' column in a variable.
salarios = dados['SALARIO']
salarios

In [ ]:
# Calculate the mean of the salary sample.
media_amostral = np.mean(salarios)
media_amostral

In [ ]:
# Calculate the sample standard deviation of salaries.
desvio_amostral = np.std(salarios)
desvio_amostral

In [ ]:
# Define the confidence level (95%).
nivel_confianca = 0.95

In [ ]:
# Determine the sample size.
tamanho_amostra = len(salarios)
tamanho_amostra

In [ ]:
# Calculate the standard error of the mean.
erro_padrao = stats.sem(salarios)
erro_padrao

In [ ]:
# Compute the confidence interval for the mean.
intervalo_confianca = stats.t.interval(nivel_confianca, tamanho_amostra-1, loc=media_amostral, scale=erro_padrao)
intervalo_confianca

#Future Engineering
processo de selecionar, criando e transformando características de dados brutos para torna-los mais úteis para algoritmos de machine learning

In [ ]:
# Function to assign "Pessoa Gestora" based on a binary 'GESTOR?' column.
def preencher_nivel(gestor,nivel):
  if gestor == 1:
    return "Pessoa Gestora"
  else:
    return nivel

In [ ]:
# Apply the function to create a new column 'NOVO_NIVEL'.
dados['NOVO_NIVEL'] = dados.apply(lambda x: preencher_nivel(x['GESTOR?'], x['NIVEL']), axis=1)

In [ ]:
# Count the occurrences in the new 'NOVO_NIVEL' column.
dados ['NOVO_NIVEL'].value_counts()

In [ ]:
# Use get_dummies to create separate columns for each level in the 'NIVEL' column.
dados = pd.get_dummies(dados, columns= ['NIVEL'])

In [ ]:
# Display row of the columns
dados.columns

In [1]:
# Function to determine the generation based on age.
def determinar_geracao(idade):
  if 39< idade <=58:
    return "Geração X"
  elif 29< idade <=39:
    return "Millenial"
  elif 13< idade <=29:
    return "Geração Z"
  else:
    return "Outra geração"

In [ ]:
# Apply the function to create a 'GERACAO' column.
dados['GERACAO'] = dados['IDADE'].apply(determinar_geracao)

In [ ]:
# Count occurrences for each generation.
dados['GERACAO'].value_counts()

In [ ]:
# Load additional data and merge it with the existing DataFrame.
dados2 = pd.read_excel('/content/drive/MyDrive/programaria/Cópia de Planilha_Aula_parte2.xlsx')
dados = dados.merge(dados2, on='ID', how='left')

In [ ]:
# Display row of the columns
dados.columns

In [ ]:
# Analyze responses regarding job search intentions.
dados['Você pretende mudar de emprego nos próximos 6 meses?'].value_counts()

In [ ]:
# Create a column 'EM_BUSCA' based on whether the job change intent contains "em busca".
dados['EM_BUSCA'] = dados['Você pretende mudar de emprego nos próximos 6 meses?'].str.contains('em busca', case=False)
dados['EM_BUSCA'].value_counts()

In [ ]:
# Similar column for "aberto a oportunidades".
dados['ABERTO_OPORTUNIDADES'] = dados['Você pretende mudar de emprego nos próximos 6 meses?'].str.contains('aberto', case=False)
dados['ABERTO_OPORTUNIDADES'].value_counts()

# EXERCISE

In [ ]:
# Display the frequency count of each unique value in the 'COR/RACA/ETNIA' column.
# This provides an overview of the distribution of different ethnicity/race categories in the dataset.
dados['COR/RACA/ETNIA'].value_counts()

In [ ]:
# Create a new column 'ETNIA_BRANCA' that indicates whether the 'COR/RACA/ETNIA' column contains the term 'branca' (white).
# The `str.contains` function performs a case-insensitive search (due to `case=False`) for the term 'branca'.
dados['ETNIA_BRANCA'] = dados['COR/RACA/ETNIA'].str.contains('branca', case=False)

In [ ]:
# Display the frequency count of values in the 'ETNIA_BRANCA' column.
# The counts will show how many rows have been identified as 'branca' (True) or not (False).
dados['ETNIA_BRANCA'].value_counts()

In [ ]:
# Create a new column 'ETNIA_NAO_BRANCA' that identifies rows where 'COR/RACA/ETNIA' contains any of the terms
# 'Parda', 'Preta', 'Amarela', or 'Indígena' (mixed race, black, Asian, or Indigenous).
dados['ETNIA_NAO_BRANCA'] = dados['COR/RACA/ETNIA'].str.contains('Parda|Preta|Amarela|Indígena', case=False)

In [ ]:
# Display the frequency count of values in the 'ETNIA_NAO_BRANCA' column.
# The counts will show how many rows are classified as 'não branca' (non-white).
dados['ETNIA_NAO_BRANCA'].value_counts()

In [ ]:
# Create a new column 'OUTRAS' that identifies rows where 'COR/RACA/ETNIA' contains the terms 'Outra' (Other)
# or 'Prefiro não informar' (Prefer not to disclose).
dados['OUTRAS'] = dados['COR/RACA/ETNIA'].str.contains('Outra|Prefiro não informar', case=False)

In [ ]:
# Display the frequency count of values in the 'OUTRAS' column.
# This shows the distribution of individuals who identified themselves as 'Outra' or chose not to disclose their ethnicity/race.
dados['OUTRAS'].value_counts()

#Correlation Analysis

In [ ]:
# Calculate correlation between 'IDADE' and 'SALARIO'.
correlacao_continua = dados['IDADE'].corr(dados['SALARIO'])
correlacao_continua

In [ ]:
# Function to calculate Cramér's V coefficient for categorical variables.
def cramer_coeficiente(coluna1,coluna2):
  tabela_cruzada = np.array(pd.crosstab(coluna1, coluna2))
  chi2 = chi2_contingency(tabela_cruzada)[0] #retorna varios valores, so precisamos do 1, por isso o 0
  soma = np.sum(tabela_cruzada) #soma de cada categoria da coluna niveis de ensino
  mini = min(tabela_cruzada.shape) -1
  cramer = np.sqrt(chi2/(soma*mini)) #sqrt é raiz quadrada
  return cramer

In [ ]:
# Calculate and analyze correlations.
cramer_coeficiente(dados['COR/RACA/ETNIA'], dados['NIVEL DE ENSINO'])

In [ ]:
# Create a cross-tabulation table that shows the relationship between 'COR/RACA/ETNIA' (ethnicity/race)
# and 'NIVEL DE ENSINO' (education level).
# Each cell in the table represents the count of individuals for a specific combination of these two variables.
tabela_cruzada = pd.crosstab(dados['COR/RACA/ETNIA'], dados['NIVEL DE ENSINO'])
tabela_cruzada

In [ ]:
# Convert the cross-tabulation table into a NumPy array for further numerical analysis, if needed.
np.array(tabela_cruzada)

In [ ]:
# Calculate Cramér's V coefficient to measure the strength of the association between
# 'NIVEL DE ENSINO' (education level) and 'GENERO' (gender).
# The function `cramer_coeficiente` computes the value based on the cross-tabulated data.
# The result helps evaluate if there's a significant relationship between these categorical variables.
cramer_coeficiente(dados['NIVEL DE ENSINO'], dados['GENERO'])

In [ ]:
# Export the DataFrame to a CSV file.
dados.to_csv('/content/drive/MyDrive/programaria/analise_dados.csv', index= False) #index é os numeros do lado, indice, nesse caso nao precisa